# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# terraform
demo/openstack-terraform-k0rdent/infra/.terraform*
demo/openstack-terraform-k0rdent/infra/terraform.tfstate
demo/openstack-terraform-k0rdent/infra/terraform.tfstate.backup

demo/openstack-terraform-k0rdent/tenant/.terraform*
demo/openstack-terraform-k0rdent/tenant/terraform.tfstate
demo/openstack-terraform-k0rdent/tenant/terraform.tfstate.backup

demo/openstack-terraform-k0rdent/k0sctl.yaml